#--------------------------------------------------------
# ERRORS
#
ErrorDocument 404 /errors/404.html

#--------------------------------------------------------
# REDIRECTS
#

#-----------------------------------------
# Top-level
#
redirect 301 /about-us.html /about.html

#-----------------------------------------
# Vintage Posters - Maitres
#

#== Mignot :: Cenacle
redirect 301 /vintage-posters/collections/maitres/0.html /vintage-posters/maitres/mignot-cenacle.html
redirect 301 /images/vintage-posters/collections/maitres/0.jpg /images/vintage-posters/maitres/mignot-cenacle.jpg
redirect 301 /images/vintage-posters/collections/maitres/high-resolution/0.jpg /images/vintage-posters/maitres/high-resolution/mignot-cenacle.jpg

#== Rees :: Traumerei
redirect 301 /vintage-posters/collections/maitres/14.html /vintage-posters/maitres/reed-traumerei.html
redirect 301 /images/vintage-posters/collections/maitres/14.jpg /images/vintage-posters/maitres/reed-traumerei.jpg 
redirect 301 /images/vintage-posters/collections/maitres/high-resolution/14.jpg /images/vintage-posters/maitres/high-resolution/reed-traumerei.jpg

#-----------------------------------------
# Vintage Posters - Contemporary
#

#== Piipo :: Frida Diego
redirect 301 /vintage-posters/collections/contemporary/0.html /vintage-posters/contemporary/piipo-fridadiego.html
redirect 301 /images/vintage-posters/collections/contemporary/0.jpg /images/vintage-posters/contemporary/piipo-fridadiego.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/0.jpg /images/vintage-posters/contemporary/high-resolution/piipo-fridadiego.jpg
redirect 301 /images/vintage-posters/collections/contemporary/KariPiipo-FridaDiego.jpg /images/vintage-posters/contemporary/piipo-fridadiego.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/KariPiipo-FridaDiego.jpg /images/vintage-posters/contemporary/high-resolution/piipo-fridadiego.jpg

#== Piipo :: ToulouseLautrec
redirect 301 /vintage-posters/collections/contemporary/1.html /vintage-posters/contemporary/piipo-toulouselautrec.html
redirect 301 /images/vintage-posters/collections/contemporary/1.jpg /images/vintage-posters/contemporary/piipo-toulouselautrec.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/1.jpg /images/vintage-posters/contemporary/high-resolution/piipo-toulouselautrec.jpg
redirect 301 /images/vintage-posters/collections/contemporary/KariPiipo-ToulouseLautrec.jpg /images/vintage-posters/contemporary/piipo-toulouselautrec.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/KariPiipo-ToulouseLautrec.jpg /images/vintage-posters/contemporary/high-resolution/piipo-toulouselautrec.jpg

#== Hilppa :: Stop Climate Change
redirect 301 /vintage-posters/collections/contemporary/2.html /vintage-posters/contemporary/hilppa-climatechange.html
redirect 301 /images/vintage-posters/collections/contemporary/2.jpg /images/vintage-posters/contemporary/hilppa-climatechange.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/2.jpg /images/vintage-posters/contemporary/high-resolution/hilppa-climatechange.jpg
redirect 301 /images/vintage-posters/collections/contemporary/KariPiipo-ToulouseLautrec.jpg /images/vintage-posters/contemporary/hilppa-climatechange.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/KariPiipo-ToulouseLautrec.jpg /images/vintage-posters/contemporary/high-resolution/hilppa-climatechange.jpg

#-----------------------------------------
# Directory redirects
#
redirect 301 /art-glass/collections              /art-glass
redirect 301 /vintage-posters/collections        /vintage-posters
redirect 301 /images/art-glass/collections       /images/art-glass
redirect 301 /images/vintage-posters/collections /images/vintage-posters
