#--------------------------------------------------------
# ERRORS
#
ErrorDocument 404 /errors/404.html

#--------------------------------------------------------
# REDIRECTS
#

#-----------------------------------------
# Top-level
#
redirect 301 /about-us.html /about.html

#-----------------------------------------
# Vintage Posters - Maitres
#

#== Mignot :: Cenacle
redirect 301 /vintage-posters/collections/maitres/0.html /vintage-posters/maitres/mignot-cenacle.html
redirect 301 /images/vintage-posters/collections/maitres/0.jpg /images/vintage-posters/maitres/mignot-cenacle.jpg
redirect 301 /images/vintage-posters/collections/maitres/high-resolution/0.jpg /images/vintage-posters/maitres/high-resolution/mignot-cenacle.jpg

#== Rees :: Traumerei
redirect 301 /vintage-posters/collections/maitres/14.html /vintage-posters/maitres/reed-traumerei.html
redirect 301 /images/vintage-posters/collections/maitres/14.jpg /images/vintage-posters/maitres/reed-traumerei.jpg 
redirect 301 /images/vintage-posters/collections/maitres/high-resolution/14.jpg /images/vintage-posters/maitres/high-resolution/reed-traumerei.jpg

#-----------------------------------------
# Vintage Posters - Small Format
#

#== Savignac :: Bic Flex
redirect 301 /vintage-posters/collections/small-format/0.html /vintage-posters/small-format/savignac-bicflex.html
redirect 301 /images/vintage-posters/collections/small-format/0.jpg /images/vintage-posters/small-format/savignac-bicflex.jpg
redirect 301 /images/vintage-posters/collections/small-format/high-resolution/0.jpg /images/vintage-posters/small-format/high-resolution/savignac-bicflex.jpg

#== Savignac :: Bic Runs
redirect 301 /vintage-posters/collections/small-format/1.html /vintage-posters/small-format/savignac-bicruns.html
redirect 301 /images/vintage-posters/collections/small-format/1.jpg /images/vintage-posters/small-format/savignac-bicruns.jpg
redirect 301 /images/vintage-posters/collections/small-format/high-resolution/1.jpg /images/vintage-posters/small-format/high-resolution/savignac-bicruns.jpg

#== Ravo :: Radiola
redirect 301 /vintage-posters/collections/small-format/2.html /vintage-posters/small-format/ravo-radiola.html
redirect 301 /images/vintage-posters/collections/small-format/2.jpg /images/vintage-posters/small-format/ravo-radiola.jpg
redirect 301 /images/vintage-posters/collections/small-format/high-resolution/2.jpg /images/vintage-posters/small-format/high-resolution/ravo-radiola.jpg

#== Cappiello :: Umbrellas
redirect 301 /vintage-posters/collections/small-format/3.html /vintage-posters/small-format/cappiello-umbrellas.html
redirect 301 /images/vintage-posters/collections/small-format/3.jpg /images/vintage-posters/small-format/cappiello-umbrellas.jpg
redirect 301 /images/vintage-posters/collections/small-format/high-resolution/3.jpg /images/vintage-posters/small-format/high-resolution/cappiello-umbrellas.jpg

#== Morvan :: Pasta
redirect 301 /vintage-posters/collections/small-format/4.html /vintage-posters/small-format/morvan-pasta.html
redirect 301 /images/vintage-posters/collections/small-format/4.jpg /images/vintage-posters/small-format/morvan-pasta.jpg
redirect 301 /images/vintage-posters/collections/small-format/high-resolution/4.jpg /images/vintage-posters/small-format/high-resolution/morvan-pasta.jpg

#== Morvan :: Sauce
redirect 301 /vintage-posters/collections/small-format/5.html /vintage-posters/small-format/morvan-sauce.html
redirect 301 /images/vintage-posters/collections/small-format/5.jpg /images/vintage-posters/small-format/morvan-sauce.jpg
redirect 301 /images/vintage-posters/collections/small-format/high-resolution/5.jpg /images/vintage-posters/small-format/high-resolution/morvan-sauce.jpg

#-----------------------------------------
# Vintage Posters - Contemporary
#

#== Piippo :: Frida Diego
redirect 301 /vintage-posters/collections/contemporary/0.html /vintage-posters/contemporary/piipo-fridadiego.html
redirect 301 /images/vintage-posters/collections/contemporary/0.jpg /images/vintage-posters/contemporary/piipo-fridadiego.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/0.jpg /images/vintage-posters/contemporary/high-resolution/piipo-fridadiego.jpg
redirect 301 /images/vintage-posters/collections/contemporary/KariPiipo-FridaDiego.jpg /images/vintage-posters/contemporary/piipo-fridadiego.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/KariPiipo-FridaDiego.jpg /images/vintage-posters/contemporary/high-resolution/piipo-fridadiego.jpg
#=== last name typo - argh
redirect 301 /vintage-posters/contemporary/piipo-fridadiego.html /vintage-posters/contemporary/piippo-fridadiego.html
redirect 301 /images/vintage-posters/contemporary/piipo-fridadiego.jpg /images/vintage-posters/contemporary/piippo-fridadiego.jpg
redirect 301 /images/vintage-posters/contemporary/high-resolution/piipo-fridadiego.jpg /images/vintage-posters/contemporary/high-resolution/piippo-fridadiego.jpg
redirect 301 /images/vintage-posters/contemporary/piipo-fridadiego.jpg /images/vintage-posters/contemporary/piippo-fridadiego.jpg
redirect 301 /images/vintage-posters/contemporary/high-resolution/piipo-fridadiego.jpg /images/vintage-posters/contemporary/high-resolution/piippo-fridadiego.jpg

#== Piippo :: ToulouseLautrec
redirect 301 /vintage-posters/collections/contemporary/1.html /vintage-posters/contemporary/piipo-toulouselautrec.html
redirect 301 /images/vintage-posters/collections/contemporary/1.jpg /images/vintage-posters/contemporary/piipo-toulouselautrec.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/1.jpg /images/vintage-posters/contemporary/high-resolution/piipo-toulouselautrec.jpg
redirect 301 /images/vintage-posters/collections/contemporary/KariPiipo-ToulouseLautrec.jpg /images/vintage-posters/contemporary/piipo-toulouselautrec.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/KariPiipo-ToulouseLautrec.jpg /images/vintage-posters/contemporary/high-resolution/piipo-toulouselautrec.jpg
#=== last name typo - argh
redirect 301 /vintage-posters/contemporary/piipo-toulouselautrec.html /vintage-posters/contemporary/piippo-toulouselautrec.html
redirect 301 /images/vintage-posters/contemporary/piipo-toulouselautrec.jpg /images/vintage-posters/contemporary/piippo-toulouselautrec.jpg
redirect 301 /images/vintage-posters/contemporary/high-resolution/piipo-toulouselautrec.jpg /images/vintage-posters/contemporary/high-resolution/piippo-toulouselautrec.jpg
redirect 301 /images/vintage-posters/contemporary/piipo-toulouselautrec.jpg /images/vintage-posters/contemporary/piippo-toulouselautrec.jpg
redirect 301 /images/vintage-posters/contemporary/high-resolution/piipo-toulouselautrec.jpg /images/vintage-posters/contemporary/high-resolution/piippo-toulouselautrec.jpg

#== Hilppa :: Stop Climate Change
redirect 301 /vintage-posters/collections/contemporary/2.html /vintage-posters/contemporary/hilppa-climatechange.html
redirect 301 /images/vintage-posters/collections/contemporary/2.jpg /images/vintage-posters/contemporary/hilppa-climatechange.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/2.jpg /images/vintage-posters/contemporary/high-resolution/hilppa-climatechange.jpg
redirect 301 /images/vintage-posters/collections/contemporary/HilppaHyrkas-StopClimateCange.jpg /images/vintage-posters/contemporary/hilppa-climatechange.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/HilppaHyrkas-StopClimateCange.jpg /images/vintage-posters/contemporary/high-resolution/hilppa-climatechange.jpg

#== Troxler :: Tim Berne's Paraphrase
redirect 301 /vintage-posters/collections/contemporary/3.html /vintage-posters/contemporary/troxler-paraphrase.html
redirect 301 /images/vintage-posters/collections/contemporary/3.jpg /images/vintage-posters/contemporary/troxler-paraphrase.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/3.jpg /images/vintage-posters/contemporary/high-resolution/troxler-paraphrase.jpg
redirect 301 /images/vintage-posters/collections/contemporary/NiklausTroxler-TimBerneParaphrase.jpg /images/vintage-posters/contemporary/troxler-paraphrase.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/NiklausTroxler-TimBerneParaphrase.jpg /images/vintage-posters/contemporary/high-resolution/troxler-paraphrase.jpg

#== Wiesmann :: Playstation
redirect 301 /vintage-posters/collections/contemporary/4.html /vintage-posters/contemporary/wiesmann-playstation.html
redirect 301 /images/vintage-posters/collections/contemporary/4.png /images/vintage-posters/contemporary/wiesmann-playstation.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/4.png /images/vintage-posters/contemporary/high-resolution/wiesmann-playstation.jpg
redirect 301 /images/vintage-posters/collections/contemporary/DanielWiesmann-Playstation.png /images/vintage-posters/contemporary/wiesmann-playstation.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/DanielWiesmann-Playstation.png /images/vintage-posters/contemporary/high-resolution/wiesmann-playstation.jpg

#== Wiesmann :: The Truth About Chaos
redirect 301 /vintage-posters/collections/contemporary/5.html /vintage-posters/contemporary/wiesmann-truth.html
redirect 301 /images/vintage-posters/collections/contemporary/5.png /images/vintage-posters/contemporary/wiesmann-truth.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/5.png /images/vintage-posters/contemporary/high-resolution/wiesmann-truth.jpg
redirect 301 /images/vintage-posters/collections/contemporary/DanielWiesmann-TheTruth.png /images/vintage-posters/contemporary/wiesmann-truth.jpg 
redirect 301 /images/vintage-posters/collections/contemporary/high-resolution/DanielWiesmann-TheTruth.png /images/vintage-posters/contemporary/high-resolution/wiesmann-truth.jpg

#-----------------------------------------
# Art Glass - Penelope Wurr
#

redirect 301 /art-glass/collections/penny/0.html /art-glass/penny/hula.html
redirect 301 /images/art-glass/collections/penny/0.jpg /images/art-glass/penny/hula.jpg

redirect 301 /art-glass/collections/penny/1.html /art-glass/penny/hula-feather.html
redirect 301 /images/art-glass/collections/penny/1.jpg /images/art-glass/penny/hula-feather.jpg

redirect 301 /art-glass/collections/penny/2.html /art-glass/penny/bowtie-segment.html
redirect 301 /images/art-glass/collections/penny/2.jpg /images/art-glass/penny/bowtie-segment.jpg

redirect 301 /art-glass/collections/penny/3.html /art-glass/penny/bowtie-waistcoat.html
redirect 301 /images/art-glass/collections/penny/3.jpg /images/art-glass/penny/bowtie-waistcoat.jpg

redirect 301 /art-glass/collections/penny/4.html /art-glass/penny/chimney.html
redirect 301 /images/art-glass/collections/penny/4.jpg /images/art-glass/penny/chimney.jpg

redirect 301 /art-glass/collections/penny/5.html /art-glass/penny/seagrass-egg.html
redirect 301 /images/art-glass/collections/penny/5.jpg /images/art-glass/penny/seagrass-egg.jpg

redirect 301 /art-glass/collections/penny/6.html /art-glass/penny/seagrass-bowl.html
redirect 301 /images/art-glass/collections/penny/6.jpg /images/art-glass/penny/seagrass-bowl.jpg

redirect 301 /art-glass/collections/penny/7.html /art-glass/penny/willow-tank.html
redirect 301 /images/art-glass/collections/penny/7.jpg /images/art-glass/penny/willow-tank.jpg

#-----------------------------------------
# Art Glass - Adam Aaronson
#

redirect 301 /art-glass/collections/adam/0.html /art-glass/adam/miro-norina.html
redirect 301 /images/art-glass/collections/adam/0.jpg /images/art-glass/adam/miro-norina.jpg

redirect 301 /art-glass/collections/adam/1.html /art-glass/adam/miro-pippa.html
redirect 301 /images/art-glass/collections/adam/1.jpg /images/art-glass/adam/miro-pippa.jpg

redirect 301 /art-glass/collections/adam/2.html /art-glass/adam/poppy-anya.html
redirect 301 /images/art-glass/collections/adam/2.jpg /images/art-glass/adam/poppy-anya.jpg

redirect 301 /art-glass/collections/adam/3.html /art-glass/adam/poppy-pippa.html
redirect 301 /images/art-glass/collections/adam/3.jpg /images/art-glass/adam/poppy-pippa.jpg

redirect 301 /art-glass/collections/adam/4.html /art-glass/adam/bark-bottle.html
redirect 301 /images/art-glass/collections/adam/4.jpg /images/art-glass/adam/bark-bottle.jpg

redirect 301 /art-glass/collections/adam/5.html /art-glass/adam/ovid-landscape.html
redirect 301 /images/art-glass/collections/adam/5.jpg /images/art-glass/adam/ovid-landscape.jpg

#-----------------------------------------
# Directory redirects
#
redirect 301 /art-glass/collections              /art-glass
redirect 301 /vintage-posters/collections        /vintage-posters
redirect 301 /images/art-glass/collections       /images/art-glass
redirect 301 /images/vintage-posters/collections /images/vintage-posters
